.Topbar {
    width: 100vw;
    height: 50px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-family: Poppins;
    padding: 0 10px;
    position: fixed;
    z-index: 999;
}

.Topbar .Topbar-left {
    width: 50%;
    overflow: hidden;
}

.Topbar .Topbar-left .firstP {
    white-space: nowrap;
}

.Topbar .Topbar-left .lastP {
    white-space: nowrap;
    display: none;
}

.Topbar .Topbar-right {
    width: 50%;
    text-align: right;
}

.Topbar .Topbar-right .btn {
    color: #ffffff;
    font-size: 22px;
    border-radius: 50%;
}

.Topbar .Topbar-right .btn:focus {
    background-color: #ffffff;
    color: #222222;
    box-shadow: none;
}

@media only screen and (max-width: 768px) {
    .Topbar .Topbar-left p {
        display: none;
    }
    .Topbar .Topbar-left .lastP {
        display: block;
        font-size: 12px;
    }
}